{% extends 'base.html' %}
{% load app_filters %}

{% block title %} Recibiendo datos de Kontrol ID {% endblock %}

{% block content %}

<div class="container-fluid">

<div align="center">
	<h1>Recibiendo datos desde Kontrol ID</h1>
</div>

{% for i in data %}

	<p><b>Usuario:</b> {{i.Usuario}}</p>
	<p><b>Nombre:</b> {{i.Nombre}}</p>
	<p><b>ID de formulario:</b> {{i.Formulario}}</p>
	<p><b>Fecha de inicio:</b>{{i.start}}</p>
	<p><b>Fecha de fin:</b> {{i.end}}</p>

	{% if i.Foto %}
		<img src="{{i.Foto}}" class="img-fluid" width="150px">
	{% endif %}

	<hr>
{% endfor %}

</div>

{% endblock %}
