{% extends 'base.html' %}
{% load app_filters %}

{% block title %} Enviando datos a KontrolID {% endblock %}

{% block content %}

<div class="container-fluid">

<div align="center">
	<h1>Enviando datos a Kontrol ID</h1>
</div>
<hr>

{% if messages %}
<div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}


<form action="/send/" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div class="form-group">
		<input type="file" name="file" required>
	</div>
		<input type="submit" class="btn btn-success">
</form>

</div>

{% endblock %}
