{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
</br>
<div align="center">
	<h1>Probar API de Kontrol ID</h1>
</div>
<hr>

<div align="center">
	<a href="/receive"><button type="button" class="btn btn-success">Recibiendo datos</button></a>
	<a href="/send"><button type="button" class="btn btn-info">Enviando datos</button></a>
</div>

{% endblock %}